.lsjdshfoiierf {
    /* box-sizing: border-box; */
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.asfjdqd {
    box-sizing: border-box;
    position: relative;
    width: 400px;
    min-height: 200px;
    border: solid 1px black;
    box-shadow: 0 0 4px 0 rgb(68, 68, 68, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
}
.sdsdwiIMG {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
}
.sdsdwiIMG img {
    width: 100%;
}

.skdjNav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
}
button {
    box-sizing: border-box;
    padding: 4px 20px;
    cursor: pointer;
}
button:hover {
    border: solid 2px blue;
    color: black;
    font-weight: bold;
}


.idsfdwhfwhwodow {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.idsfdwhfwhwodow input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
}




.jsfdahifh {
    position: absolute;
    top: 3px;
    right: 3px;
    border: solid 1px black;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.jsfdahifh img {
    width: 80%;
}
.jsfdahifh img:hover {
    width: 90%;
}














.editFotoContaner {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(82, 79, 79, 0.4);
    z-index: 9999;
    display: flex;
    align-items: center;
    /* padding-top: 80px; */
    justify-content: center;
    box-shadow: 0 0 10px 0.6px rgb(64, 63, 63, 0.9);
}


.editFotoContent {
    box-sizing: border-box;
    /* min-width: 200px; */
    height: 250px;
    background-color: whitesmoke;
    display: flex;
    overflow-x: auto;
    align-items: center;
    padding: 0 10px;
}


.editFotoFotoContanr {
    box-sizing: border-box;
    position: relative;
    width: 230px;
    height: 230px;
    border: solid 1px black;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.editFotoFotoContanrBtnDelete {
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    right: 4px;
    border: solid 1px rgb(91, 91, 91, 0.6);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.editFotoFotoContanrBtnDelete:hover {
    background-color: rgb(225, 225, 225);
    border-color: black;
}

.buttontambahFoto {
    box-sizing: border-box;
    padding: 5px 20px;
    border: solid 1px rgb(91, 91, 91, 0.6);
    cursor: pointer;
    background-color: rgb(225, 225, 225, 0.6);
    border-radius: 4px;
}
.buttontambahFoto:hover {
    background-color: rgb(225, 225, 225);
    border-color: black;
}